body{
    font-size:16px;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
strong{
    font-weight: bold;
}
p{
    margin-bottom:10px;
}
#map-marker{
    display:block;
    width:150px;
    height:75px;
    cursor:pointer;
}

#map-marker .orderus{
    display: block;
    width:inherit;
    margin:inherit;
}

.start-position{
    position:absolute;
    bottom:80px;
    left:calc(50% - 75px);
}

.ajax-loader{
    display:block;
    margin:0 auto;
    width:100%;
}

.rounds{
    overflow-y: scroll;
    height:300px;
}